It is must to convert string data columns (Catgorical columns) to numerical because ML models only understand numerical data.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('/content/sample_data/Ames_no_missing_data.csv')
df.head()

,Unnamed: 0.1,Unnamed: 0,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Lot Shape,...,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,0,0,1,526301100,20,RL,141.0,31770,Pave,IR1,...,0,0,0,0,0,5,2010,WD,Normal,215000
1,1,1,2,526350040,20,RH,80.0,11622,Pave,Reg,...,0,0,120,0,0,6,2010,WD,Normal,105000
2,2,2,3,526351010,20,RL,81.0,14267,Pave,IR1,...,0,0,0,0,12500,6,2010,WD,Normal,172000
3,3,3,4,526353030,20,RL,93.0,11160,Pave,Reg,...,0,0,0,0,0,4,2010,WD,Normal,244000
4,4,4,5,527105010,60,RL,74.0,13830,Pave,IR1,...,0,0,0,0,0,3,2010,WD,Normal,189900

We have a lot of categorical features. Let's convert these all to numerical values.

In [6]:
# Select categorical columns which have string (object) value

my_object_df = df.select_dtypes(include = 'object')

In [7]:
my_object_df_dummies = pd.get_dummies(my_object_df, drop_first = True)

Now all categorical columns are converted to numerical features. Now attach them to already available numerical columns of real df.

In [8]:
# Select categorical columns which have numerical value

my_numeric_df = df.select_dtypes(exclude = 'object')

In [10]:
final_df  = pd.concat([my_numeric_df, my_object_df_dummies], axis = 1)

Now all columns have become numerical.

But, now we are having too many featuers. But don't worry. You can apply regularization to check which features are important and which not.